<div class="col" style="--w-lg: {{ w_lg }}; --w-md: {{ w_md }}">
  <div class="card__item">
    {{ 'product-1' | placeholder_svg_tag: 'card__img w-100 object-cover bg-bg-2' }}
    <span class="card__current {{ class }} d-block d-inline-block-lg body-1"> $19.99 USD </span>
  </div>
</div>
