.article__container{
    padding-top: 40px;
}

.article__date{
    margin-top: 24px;
}

.article__media{
    --gap-container: 0;
}

.article__comments-item{
    height: 40px;
    border: 1px solid var(--color-border-dark);
    max-width: 336px;
    margin-bottom: 25px;
    padding:  15px;
}

.article__comments-text{
    border: 1px solid var(--color-border-dark);
    margin-bottom: 25px;
    padding:  15px;
}

.article__comments-input{
    padding: 0 20px;
}

.article__comments{
    margin-top: 30px;
}

.article__share{
    gap: 30px;
    padding: 8px 0;
    margin-top: 27px;
}

.share-form{
    height: 46.5px;
    top: 33px;
}

.article__icon-share{
    margin-right: 8px;
}

.article__content{
    margin-top: 40px;
}

.article__back{
    padding: 8px 0;
    margin-top: 64px;
}

.article__icon-arrow-left{
    margin-right: 14px;
}

.article__img{
    aspect-ratio: 0.99;
}

@media (min-width: 992px) {
    .article__media{
        --gap-container: 10px;
    }

    .article__comments-container{
        gap: 30px;
    }

    .article__img{
        aspect-ratio: 1.2;
    }

    .article__container{
        max-width: 700px;
        padding-top: 64px;
    }

    .article__share{
        margin-top: 40px;
    }
}