@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&display=swap");
:root {
  --color-bg-1: #ffffff;
  --color-bg-2: #f0f0f0;
  --color-accent-1: #000000;
  --color-accent-2: #3752b2;
  --color-grey-900: #4d4d4d;
  --color-surface-default: #ffffff;

  --color-border-dark: #7d7d7d;
  --color-border-light: #d0d0d0;
  
  --color-text-default: #121212;
  --color-text-subdued: rgba(18, 18, 18, 0.75);
  --color-text-inverse: #ffffff;

  --font-size-heading: 4rem;

  --section-padding-top: 40px;
  --section-padding-bottom: 40px;

}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Assistant", sans-serif;
  font-weight: 400;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  line-height: 1.3;
  color: var(--color-text);
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.section{
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background: var(--bg-main);
}

.bg-main{
  background-color: var(--bg-main);
}

.color-text{
  color: var(--color-text);
}

.section__heading{
  padding-bottom: 25px;
}

.list-style-none {
  list-style: none;
}

a {
  text-decoration: none;
}

/* heading */
.heading-0-sm,
.heading-1-sm,
.heading-2-sm,
.heading-3-sm,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.heading-0-sm {
  font-size: var(--font-size-heading);
}

.heading-1-sm {
  font-size: calc(var(--font-size-heading)*0.75);
}

.heading-2-sm {
  font-size: calc(var(--font-size-heading)*0.5);
}

.heading-3-sm {
    font-size: calc(var(--font-size-heading)*0.425);
}
/*  */

/* text */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.word-break-break-word{
  word-break: break-word;;
}

.text-uppercase {
  text-transform: uppercase;
}

.body-1,
.body-2,
.caption-1,
.text-btn,
.body-text {
  font-weight: 400;
}

.body-text {
  font-size: 1.3rem;
  letter-spacing: 0.03em;
}

/* .body-1,
.body-2,
.caption-1,
.text-btn {
  color: var(--color-accent-1);
} */

.body-1 {
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.body-2 {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.caption-1 {
  letter-spacing: 0.03em;
  font-size: 1.3rem;
}

.text-btn, .btn {
  font-size: 1.6rem;
  line-height: 0.9;
  letter-spacing: 0.04em;
}

.text-menu {
  font-size: 1.8rem;
  line-height: 0.8;
  font-weight: 600;
  letter-spacing: 0.04em;
}
/*  */    

/* position */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}
/*  */

/*color */
.color-bg-1{
    color: var(--color-bg-1);
}

.color-bg-2{
    color: var(--color-bg-2);
}

.color-border-dark{
    color: var(--color-border-dark);
}

.color-border-light{
    color: var(--color-border-light);
}

.color-accent-1{
    color: var(--color-accent-1);
}

.color-accent-2{
    color: var(--color-accent-2);
}

.color-grey-900{
    color: var(--color-grey-900);
}

.color-text-default{
    color: var(--color-text-default);
}

.color-text-subdued{
    color: var(--color-text-subdued);
}

.color-text-inverse{
    color: var(--color-text-inverse);
} 

/* bg */
.bg-bg-1{
  background-color:  var(--color-bg-1);
}

.bg-bg-2{
    background-color:  var(--color-bg-2);
}

.bg-border-dark{
    background-color:  var(--color-border-dark);
}

.bg-border-light{
    background-color:  var(--color-border-light);
}

.bg-accent-1{
    background-color:  var(--color-accent-1);
}

.bg-accent-2{
    background-color:  var(--color-accent-2);
}

.bg-grey-900{
    background-color:  var(--color-grey-900);
}

.bg-text-default{
    background-color:  var(--color-text-default);
}

.bg-text-subdued{
    background-color:  var(--color-text-subdued);
}

.bg-text-inverse{
    background-color:  var(--color-text-inverse);
}
/*  */

/* btn */
.btn {
  padding: 16px;
  cursor: pointer;
  color: var(--color-btn);
  background-color: var(--bg-btn);
  border: none;
}

.btn:hover{
  box-shadow: 0px 0px 0px 1px var(--bg-btn);
}

.btn-outline{
  padding: 15px;
  color: var(--color-btn-outline);
  border: 1px solid var(--color-btn-outline);
  cursor: pointer;
  background-color: transparent;
}

.btn--disable{
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-outline:hover{
  box-shadow: 0px 0px 0px 2px var(--color-btn-outline);
}

.btn-outline-none{
  outline: none;
}

.color-btn{
  color: var(--color-btn);
}

.bg-btn{
  color: var(--bg-btn);
}

/* d-block */
.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

/* border radius 50% */
.border-r-50 {
  border-radius: 50%;
}

/* grid */
.d-grid{
    display: grid;
}

/* flex */
.d-flex {
  display: flex;
}

.align-end {
  align-items: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-0 {
  --gap: 0;
}

.flex-1{
  flex:1;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-d-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* width */
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* img */
.object-cover {
  object-fit: cover;
}

/* transform center */
.transform-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* box model */
.p-0 {
  padding: 0;
}

.mg-0 {
  margin: 0;
}

.mg-center {
  margin: 0 auto;
}

/* cursor pointer */
.cursor-pointer {
  cursor: pointer;
}

.border-bottom-border-light {
  border-bottom: 1px solid var(--color-border-light);
}

/* <lg */
@media (max-width: 991px) {
  .d-grid-md{
    display: grid;
  }

  .p-absolute-md {
    position: absolute;
  }

  .p-relative-md {
    position: relative;
  }

  .justify-between-md {
    justify-content: space-between;
  }
}
/*  */

/* >=lg */
@media (min-width: 992px) {
  .section{
    padding-top: calc(var(--section-padding-top) + 20px);
    padding-bottom: calc(var(--section-padding-bottom)+ 20px);
  }

  .d-block-lg {
    display: block;
  }

  .d-flex-lg {
    display: flex;
  }

  .d-inline-block-lg {
    display: inline-block;
  }

  .d-none-lg {
    display: none;
  }

  /* position lg */
  .p-relative-lg {
    position: relative;
  }

  .p-absolute-lg {
    position: absolute;
  }
  /*  */

  /* text lg*/
  .body-1-lg,
  .body-2-lg,
  .caption-1-lg,
  .text-btn-lg,
  .body-text-lg {
    font-weight: 400;
  }
  .text-center-lg {
    text-align: center;
  }

  .text-right-lg {
    text-align: right;
  }

  .text-left-lg {
    text-align: left;
  }

  .text-uppercase-lg {
    text-transform: uppercase;
  }

  .body-text-lg {
    font-size: 1.3rem;
    letter-spacing: 0.03em;
  }

  .heading-0-lg,
  .heading-1-lg,
  .heading-2-lg,
  .heading-3-lg {
    font-weight: 400;
  }

  .body-1-lg {
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }

  .body-2-lg {
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .caption-1-lg {
    letter-spacing: 0.03em;
    font-size: 1.3rem;
  }

  .text-btn-lg {
    font-size: 1.6rem;
    line-height: 0.9;
    letter-spacing: 0.04em;
  }

  .heading-0-lg {
    font-size: calc(var(--font-size-heading)*1.3);
  }
  
  .heading-1-lg {
    font-size: calc(var(--font-size-heading)*1);
  }
  
  .heading-2-lg {
    font-size: calc(var(--font-size-heading)*0.6);
  }
  
  .heading-3-lg {
      font-size: calc(var(--font-size-heading)*0.45);
  }

  /* flex */
  .d-flex-lg {
    display: flex;
  }

  .align-end-lg {
    align-items: flex-end;
  }

  .flex-center-lg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gap-0-lg {
    --gap: 0;
  }

  .justify-between-lg {
    justify-content: space-between;
  }

  .justify-center-lg {
    justify-content: center;
  }

  .justify-end-lg {
    justify-content: end;
  }

  .align-center-lg {
    align-items: center;
  }

  .flex-no-wrap-lg {
    flex-wrap: nowrap;
  }

  .flex-d-column-lg {
    flex-direction: column;
  }

  .flex-wrap-lg {
    flex-wrap: wrap;
  }
  /*  */
}


.accent-1{
  --bg-main: var(--color-accent-1);
  --color-text: var(--color-text-inverse);

  --bg-btn: var(--color-bg-1);
  --color-btn: var(--color-text-default); 
  
  --color-btn-outline: var(--color-text-inverse)
}

.accent-2{
  --bg-main: var(--color-accent-2);
  --color-text: var(--color-text-inverse);

  --bg-btn: var(--color-bg-1);
  --color-btn: var(--color-text-default); 
  
  --color-btn-outline: var(--color-text-inverse)
}

.bg-1{
  --bg-main: var(--color-bg-1);
  --color-text: var(--color-text-default);

  --bg-btn: var(--color-accent-1);
  --color-btn: var(--color-text-inverse); 
  
  --color-btn-outline: var(--color-text-default)
}

.bg-2{
  --bg-main: var(--color-bg-2);
  --color-text: var(--color-text-default);

  --bg-btn: var(--color-accent-1);
  --color-btn: var(--color-text-inverse); 
  
  --color-btn-outline: var(--color-text-default)
}

.inverse{
  --bg-main: var(--color-inverse);
  --color-text: var(--color-text-default);

  --bg-btn: var(--color-accent-1);
  --color-btn: var(--color-text-inverse); 
  
  --color-btn-outline: var(--color-text-default)
}