.product-status {
    padding: 4px 12px;
    border-radius: 99px;
  }

  .icon-arrow-right {
    width: 17px;
    transition: width ease-in 0.1s;
  }

  .icon-arrow-right:hover,
  .icon-arrow-right-hover:hover .icon-arrow-right {
    width: 20;
  }


  .quantity__icon{
    cursor: pointer;
}

.quantity{
    max-width: 138px;
    padding: 12px;
    border: 1px solid var(--color-border-light);
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity__input {
    max-width: 50px;
    -moz-appearance: textfield;
}

.no-scroll{
  overflow: hidden;
}

.modal{
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgb(0 0 0 / 50%);
  z-index: 2;
  height: 100vh;
}

.icon-star{
  color: #FFDD2B;
}